.background-color {
  background-color: rgb(86, 43, 129);
}

.journal-header > h2 {
  color: white;
  width: 100%;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 0;
}

#save {
  background-color: rgb(86, 43, 129);
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  width: 70px;
  height: 30px;
  align-self: flex-end;
}

label {
  font-weight: bold;
  margin: 10px 10px 10px 0;
}

input {
  margin-bottom: 15px;
  border: 1px solid rgb(207, 206, 206);
  border-radius: 3px;
  height: 30px;
}

textarea {
  margin-bottom: 15px;
}

.entry-header,
.image-section,
.input-section,
.notes-section {
  display: flex;
  flex-direction: column;
}

#new-entry {
  background-color: rgb(86, 43, 129);
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  width: 70px;
  height: 30px;
  margin: 0;
}

li.row {
  margin-bottom: 20px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.new-entry-header > h2 {
  color: white;
  margin-right: 20px;
}

.code-entries-header {
  width: 100%;
}

.new-entry-header {
  display: flex;
  align-items: baseline;
}

.new-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.current-entries {
  max-width: 100%;
}
